/* :root {
    --colorWhite: #ffffff;
    --colorBlack: #000000;
    --colorRed: red;
    --fontSize-sm: 16px;
    --fontFamily: 'Arial, Helvetica, sans-serif';
    --fontTitle: 'Arial';
    --fontBody: 'Helvetica';
} */

/* SignIn Component */

/* h1 {
    color: var(--colorRed);
} */

/* SignUp Component */

/* Home view */

/* Account View */